<script lang="ts">
  import IndexProfile from '$lib/components/index_profile.svelte';
  import IndexPosts from '$lib/components/index_posts.svelte';
  import IndexProjects from '$lib/components/index_projects.svelte';
  import MainBanner from '$lib/components/main_banner.svelte';
  import Tags from '$lib/components/tags_root.svelte';
  import { tagsCur, tagsShowMobile, tagsShowDesktop } from '$stores/tags';
  import { postsShow } from '$stores/posts';
  import { siteConfig } from '$config/site';

  import { page } from '$app/stores';
  import { onMount } from 'svelte';
  import { fly } from 'svelte/transition';

  import TypedJs from '@loscrackitos/svelte-typed-js';

  onMount(() => {
    tagsCur.init();
    postsShow.init();

    $page.url.searchParams.forEach((v, k) => {
      k = decodeURI(k);
      if (k.match(/^tags(-.*)?/)) {
        k = k.replace(/^tags-/, '');
        v.split(',').forEach((v) => {
          tagsCur.add(k, v);
        });
      }
    });
  });
</script>

<svelte:head>
  <title>{siteConfig.title}</title>
  <meta name="description" content={siteConfig.description} />
  <link rel="canonical" href={siteConfig.url} />

  <!-- OpenGraph -->
  <meta property="og:site_name" content={siteConfig.title} />
  <meta property="og:locale" content={siteConfig.lang} />
  <meta property="og:type" content="website" />

  <meta property="og:title" content={siteConfig.title} />
  <meta name="twitter:title" content={siteConfig.title} />

  <meta property="og:description" content={siteConfig.description} />
  <meta name="twitter:description" content={siteConfig.description} />

  <meta property="og:url" content={siteConfig.url} />
  <meta property="twitter:url" content={siteConfig.url} />

  <meta property="og:image" content={new URL(siteConfig.cover, siteConfig.url).href} />
  <meta name="twitter:image" content={new URL(siteConfig.cover, siteConfig.url).href} />
  <meta name="twitter:card" content="summary_large_image" />
</svelte:head>

<div class="max-w-full flex-1 relative ml6">
  <MainBanner class="flex-none w-full gap2 items-center text-center" />
</div>

{#if $tagsShowMobile}
  <div
    in:fly={{ x: -100, y: -100, duration: 300, delay: 300 }}
    out:fly={{ x: -100, y: -100, duration: 300 }}
    class="mx6 my4 xl:hidden">
    <Tags class="flex flex-col min-w-[12rem]" />
  </div>
{:else}
  <div
    itemscope
    itemtype="https://schema.org/Blog"
    itemprop="blog"
    class="flex flex-nowrap justify-center flex-col items-center xl:hidden">
    <div class="h-feed min-h-50vh flex-none w-full my-5">
      <h2 class="text-2xl text-center">Latest Projects</h2>
      <IndexProjects showYears={false} />
    </div>
    <div class="h-feed min-h-50vh flex-none w-full">
      <h2 class="text-2xl text-center">News and Blog</h2>
      <IndexPosts />
    </div>
  </div>
{/if}

<div
  itemscope
  itemtype="https://schema.org/Blog"
  itemprop="blog"
  class="flex-nowrap justify-center flex-col items-center hidden xl:(flex flex-row items-stretch) md:my-10">
  <div class="h-feed min-h-50vh flex-none w-full md:(rounded-2xl w-[90rem] mx2)">
    <h2 class="text-3xl text-center">Latest Projects</h2>
    <IndexProjects class="flex-row " showYears={false} showOnMain={true} />
  </div>
</div>

<div
  itemscope
  itemtype="https://schema.org/Blog"
  itemprop="blog"
  class="flex-nowrap justify-center flex-col items-center hidden xl:(flex flex-row items-stretch) md:my-10">
  <div class="h-feed min-h-50vh flex-none w-full md:(rounded-2xl w-[90rem] mx2)">
    <h2 class="text-3xl text-center">News and Blog</h2>
    <IndexPosts class="flex-row " showYears={false} showOnMain={true} />
  </div>
</div>
