:root {
  --bg-color: #e1e3dd;
  --text-color: black;
  --btn-hover-color: #8c8c8c;

  --bg-img-light: none;
  --bg-img-dark: none;

  body::after {
    --bg-repeat: repeat;
    --bg-size: cover;
    --bg-op: 0.5;
  }

  #header {
    --bg-color: transparent;
    --text-color: inherit;

    input:focus {
      --input-outline-color: black;
    }
  }

  .avatar {
    --bg-color: transparent;
  }

  #index-profile {
    --bg-color: transparent;
    --text-color: inherit;
  }

  #status-tip {
    --bg-color: white;
  }

  #index-tags {
    --bg-color: transparent;
    --text-color: inherit;

    input::placeholder {
      --input-placeholder-text-color: rgba(25, 25, 25, 0.5);
    }
  }

  #footer {
    --bg-color: transparent;
    --text-color: rgba(0, 0, 0, 0.75);
    --border-top-color: rgba(0, 0, 0, 0.5);
    --link-hover-color: rgb(14, 165, 233);
  }

  .index-post {
    --bg-color: #faf9f6;
    --text-color: inherit;
    --title-color: inherit;
    --title-hover-color: white;
    --series-border-color: rgba(251, 191, 36);
    --series-bg-color: rgb(34, 197, 94);
    --series-bg-hover-color: rgb(251, 191, 36);
    --series-tag-text-color: inherit;
    --series-title-text-color: inherit;
    --border-mobile: 1px solid black;
    --border-desktop: 0px none transparent;

    --min-height: fit-content;
    --cover-height-IN: fit-content;
    --cover-height-IN-mobile: fit-content;
    --cover-height-TOPnBOT: 20rem;
    --cover-height-TOPnBOT-mobile: 12rem;
    --cover-width-RnL: 12rem;
    --cover-width-RnL-mobile: 9rem;
  }

  #post {
    --bg-color: #f9fbff;
  }

  #post-bottom {
    --bg-color: #f9fbff;
  }

  .prose {
    --strong-font-weight: 900;
    --strong-color: green;
    --table-th-color: #00000030;
    --table-tr-color-odd: #6a6a6a10;
    --table-tr-color-even: #6a6a6a50;
    --link-color: #0ea5e9;
    --link-thickness: auto;
    --link-hover-color: #0ea5e9;

    .code-block {
      --line-highlight-color: rgba(55, 65, 81, 0.2);
      --line-highlight-linenumber-color: black;
      --line-start-highlight-color: rgb(59, 130, 246);
      --line-addition-color: rgba(16, 185, 129, 0.3);
      --line-subtraction-color: rgba(239, 68, 68, 0.3);
      --border-color: rgba(0, 0, 0, 0.5);
      --codeline-hover-color: rgba(55, 65, 81, 0.5);
      --linenumber-color: black;
    }

    .inline-code-block {
      --bg-color: rgba(55, 65, 81, 0.25);
      --hover-bg-color: rgba(55, 65, 81, 0.5);
    }
  }

  --link-color: #0ea5e9;
  --link-thickness: auto;
  --link-hover-color: #0ea5e9;
  --divider-margin: 2rem;
  --divider-thickness: 2px;
  --divider-color: rgba(0, 0, 0, 0.25);

  #nprogress {
    --bg-color: rgb(56, 221, 34);
    --box-shadow-1: rgb(56, 221, 34);
    --box-shadow-2: rgb(56, 221, 34);
    --border-top-color: rgb(56, 221, 34);
    --border-left-color: rgb(56, 221, 34);
  }
}

.dark {
  --bg-color: #202020;
  --text-color: white;
  --btn-hover-color: #e1e3dd90;

  body::after {
    --bg-repeat: repeat;
    --bg-size: cover;
    --bg-op: 0.5;
  }

  #header {
    --bg-color: transparent;
    --text-color: inherit;

    input:focus {
      --input-outline-color: white;
    }
  }

  .avatar {
    --bg-color: rgb(36, 36, 36);
  }

  #index-profile {
    --bg-color: transparent;
    --text-color: rbga(255, 255, 255, 0.8);
  }

  #status-tip {
    --bg-color: rgb(100, 100, 100);
  }

  #index-tags {
    --bg-color: transparent;
    --text-color: rgba(255, 255, 255, 0.85);

    input::placeholder {
      --input-placeholder-text-color: rgba(255, 255, 255, 0.5);
    }
  }

  #footer {
    --bg-color: transparent;
    --text-color: rgba(255, 255, 255, 0.75);
    --border-top-color: rgba(255, 255, 255, 0.75);
  }

  .index-post {
    --bg-color: #171717;
    --text-color: inherit;
    --title-color: inherit;
    --title-hover-color: black;
    --series-border-color: rgba(251, 191, 36);
    --series-bg-color: rgb(34, 197, 94);
    --series-bg-hover-color: rgb(251, 191, 36);
    --series-tag-text-color: black;
    --series-title-text-color: white;
    --border-mobile: 1px solid white;
    --border-desktop: 0px none transparent;
  }

  #post {
    --bg-color: #171717;
  }

  #post-bottom {
    --bg-color: #171717;
  }

  .prose {
    --strong-font-weight: 900;
    --strong-color: green;
    --table-th-color: #00000030;
    --table-tr-color-odd: #6a6a6a10;
    --table-tr-color-even: #6a6a6a50;
    --link-color: #0ea5e9;
    --link-thickness: auto;
    --link-hover-color: #0ea5e9;

    .code-block {
      --line-highlight-color: rgba(55, 65, 81, 0.2);
      --line-highlight-linenumber-color: white;
      --line-start-highlight-color: rgb(59, 130, 246);
      --line-addition-color: rgba(16, 185, 129, 0.3);
      --line-subtraction-color: rgba(239, 68, 68, 0.3);
      --border-color: rgba(0, 0, 0, 0.5);
      --codeline-hover-color: rgba(55, 65, 81, 0.5);
      --linenumber-color: black;
    }

    .inline-code-block {
      --bg-color: rgba(55, 65, 81, 0.25);
      --hover-bg-color: rgba(55, 65, 81, 0.5);
    }
  }

  --link-color: #0ea5e9;
  --link-thickness: auto;
  --link-hover-color: #0ea5e9;
  --divider-margin: 2rem;
  --divider-thickness: 2px;
  --divider-color: #8a8a8a;

  #nprogress {
    --bg-color: rgb(56, 221, 34);
    --box-shadow-1: rgb(56, 221, 34);
    --box-shadow-2: rgb(56, 221, 34);
    --border-top-color: rgb(56, 221, 34);
    --border-left-color: rgb(56, 221, 34);
  }
}
