html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

body::after {
  content: '';
  background-image: var(--bg-img-light);
  background-repeat: var(--bg-repeat);
  background-size: var(--bg-size);
  opacity: var(--bg-op);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

body.dark::after {
  content: '';
  background-image: var(--bg-img-dark);
  background-repeat: var(--bg-repeat);
  background-size: var(--bg-size);
  opacity: var(--bg-op);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

.btn {
  --at-apply: 'cursor-pointer shrink-0 text-center px-2 py-2 rounded-lg';
}

.btn-ghost {
  --at-apply: 'border-transparent bg-transparent border-1';
}

@media (hover: hover) and (pointer: fine) {
  .btn {
    &:hover {
      background-color: var(--btn-hover-color);
    }
  }
}

.tippy-box {
  --at-apply: 'text-base text-center';
}
