<script lang="ts">
  import TypedJs from '@loscrackitos/svelte-typed-js';
  import { siteConfig } from '$config/site';

  let className: string | undefined = undefined;
  export { className as class };
</script>

<div
  itemscope
  itemtype="https://schema.org/Person"
  itemprop="person"
  class={className ?? 'flex-nowrap justify-center flex-col items-center hidden xl:(flex flex-row items-stretch)'}>
  <div class="flex flex-col items-center py-6 lg:h-128 lg:flex-row">
    <div class="my-auto w-full lg:mx-12rem">
      <h2 class="text-4xl mx-auto text-center leading-snug lg:text-6xl">
        {siteConfig.typed_title1}
        <br />
        {siteConfig.typed_title2}
        <br />
        <TypedJs strings={siteConfig.typed_strings} loop="true" backSpeed="7" backDelay="1000">
          <span class="typing font-gradient">{siteConfig.typed_strings[0]}</span>
        </TypedJs>
      </h2>

      <h3 class="text-xl mt-8 text-center leading-snug lg:text-3xl">
        {siteConfig.slogan}
      </h3>
    </div>
  </div>
</div>

<style lang="postcss">
  .font-gradient {
    background: linear-gradient(92.9deg, #3c5bff 2.8%, #93e4fe 57.47%, #f97316 79.38%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
